body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    background-color: #4d5ae5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    border: none;
    padding: 10px 20px;
}

button:hover,
button:focus {
    background-color: #404bbf;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    text-transform: uppercase;
}

.logo-accent {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 15px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    transition: color 0.3s;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts-address a {
    color: #434455;
    font-size: 16px;
    text-decoration: none;
}

.contacts-address a:hover,
.contacts-address a:focus {
    color: #404bbf;
}

.section-hero {
    background-color: #2e2f42;
    text-align: center;
    padding: 50px 0;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #fff;
}

.features-title {
    text-align: center;
}

.feature-item {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

.team-title,
.footer-logo {
    text-align: center;
}

.team-item {
 background: #fff;
}
.team-title {
 font-family: "Roboto", sans-serif;
 font-weight: 500;
 font-size: 20px;

}

.portfolio {
    background: #fff;
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-text {
 font-family: "Roboto", sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
}

.main-footer-text {
 font-family: "Roboto", sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.16;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #4d5ae5;
}

.team-page {
 font-family: "Roboto", sans-serif;
 font-weight: 700;
 font-size: 36px
}

.footer-box {
    background-color: #2e2f42;
    padding: 20px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    text-transform: uppercase;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-transform: uppercase
}
